/* navbar brand */
a.navbar-brand{
    padding: 0px !important;
    background-color: skyblue;
    color: white !important;
    font-size: 30px;
}

.navbar-header .navbar-toggle {
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
}

/* header */
h1{
    background-color: white;
    color: skyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

h2{
    background-color: white;
    color: skyblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* paragraphs */

p{
    padding: 10px;
    font-size: 20px;
    background: white;
}

body{
    background-color: skyblue;
}
.col-md-12{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-6{
    background-color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.container.two{
    padding-top: 30px;
    padding-bottom: 50px;
}

.img-thumbnail{
    padding: 10px;
    border: none;
}

.container.bg-white{
    margin-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

table{
    background-color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    
}

.nav-item.dropdown.show{
    background-color: skyblue;
}

/* media query to show dropdown but hide navbar on small screens */

@media(max-width: 900px){
    .navbar.bg-light{
      background-color: skyblue !important;
    }
  
    .navbar-collapse{
      visibility: hidden;
      background-color: skyblue;
    }
  
    #nav-select{
      visibility: visible;
    }
  }